## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
# in set, each value is unique
sample_list_1 =list(set(random.sample(range(101), k = 80)))

print(sample_list_1)

[0, 1, 2, 3, 4, 5, 6, 7, 9, 11, 13, 15, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 94, 96, 99]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)
print(set1)
print(len(set1))

{0, 1, 2, 3, 4, 5, 6, 7, 9, 11, 13, 15, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 94, 96, 99}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.




*Hint: Use a FOR loop.*

In [4]:
# Your code here

sample_list_2 = [random.randint(0,101) for i in range(81)]
print(type(sample_list_2))
print(sample_list_2)

<class 'list'>
[95, 101, 99, 70, 79, 35, 96, 64, 24, 80, 90, 99, 23, 84, 75, 9, 44, 24, 99, 8, 50, 22, 45, 51, 58, 36, 20, 67, 30, 93, 55, 10, 25, 71, 10, 14, 73, 50, 59, 94, 16, 2, 51, 78, 35, 79, 66, 38, 39, 63, 57, 89, 88, 55, 93, 14, 101, 4, 15, 11, 57, 46, 51, 95, 16, 14, 65, 4, 46, 84, 21, 85, 79, 99, 74, 76, 65, 7, 65, 3, 33]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
print(set2)
print(len(set2))

# the length of the set is smaller than the length of the list because in a set every element is unique

{2, 3, 4, 7, 8, 9, 10, 11, 14, 15, 16, 20, 21, 22, 23, 24, 25, 30, 33, 35, 36, 38, 39, 44, 45, 46, 50, 51, 55, 57, 58, 59, 63, 64, 65, 66, 67, 70, 71, 73, 74, 75, 76, 78, 79, 80, 84, 85, 88, 89, 90, 93, 94, 95, 96, 99, 101}
57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = set1-set2
print(set3)
print(len(set3))

{0, 1, 5, 6, 13, 17, 18, 19, 26, 27, 28, 29, 32, 34, 37, 40, 41, 42, 43, 48, 49, 52, 53, 54, 56, 60, 62, 68, 69, 72, 77, 81, 82, 86, 87, 91, 92}
37

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = set2-set1
print(set4)

{101, 38, 70, 8, 10, 45, 14, 78, 16, 22, 89, 58, 93, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set1.intersection(set2)
print(set5)
print(len(set5))

{2, 3, 4, 7, 9, 11, 15, 20, 21, 23, 24, 25, 30, 33, 35, 36, 39, 44, 46, 50, 51, 55, 57, 59, 63, 64, 65, 66, 67, 71, 73, 74, 75, 76, 79, 80, 84, 85, 88, 90, 94, 96, 99}
43

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
if len(set1) > len(set2) and len(set2) > len(set3) and len(set3) > len(set4) and len(set4) < len(set5) and len(set5) < len(set2):
    print("set1 > set2 > set3 > set4 but set5 < set4 and set5 < set2")

set1 > set2 > set3 > set4 but set5 < set4 and set5 < set2

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6.update(set5,set3)

#set6 = set3.union(set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 11, 13, 15, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 94, 96, 99}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
if set1 == set6:
    print("The sets are equal")
else:
    print("The sets are not equal")

The sets are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here
check1 = set2.issubset(set1)
print(check1)

check2 = set3.issubset(set1)
print(check2)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here
check3 = set3.union(set4,set5)

check4 = set1.union(set2)

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here
print(set1)
set1 = list(set1)
set1.pop(0)
set1 = set(set1)
print(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 11, 13, 15, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 94, 96, 99}
{1, 2, 3, 4, 5, 6, 7, 9, 11, 13, 15, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 94, 96, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1 = list(set1)
type(set1)

for i in set1:
    if i in list_to_remove:
        set1.remove(i)
        
print(set1)

[2, 3, 4, 5, 6, 7, 11, 13, 15, 17, 18, 20, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 40, 42, 43, 44, 46, 48, 50, 52, 53, 54, 55, 56, 57, 60, 62, 63, 64, 65, 66, 67, 68, 71, 72, 73, 74, 75, 76, 77, 80, 82, 84, 85, 86, 87, 88, 90, 92, 94, 96]